.c-ntf {
    position: fixed;
    top: 7%;
    right: 5%;
    text-align: center;
    z-index: 999;
    animation-name: fadein;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    transform: translateY(-1000px);
    display: none;

    .c-ntf--main {
        width: 200px;
        min-height: 100px;
        padding: 10px;
        box-shadow: 2px 3px 5px 3px rgba(51, 51, 51, 0.51);
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
   
        font-weight: 300;
    }

    .c-ntf--content {
        max-width: 100%;
        
    }
}

@keyframes fadein {
    0% {
        transform: translateY(-1000px);
        
    }

    20% {
        transform: translate(0);
    }

    80% {
        transform: translate(0);
    }

    100% {
        transform: translateY(-1000px);
        
    }
}
