<div class="c-btt u-pc--show" id="backtotop">
    <div class="c-btt--main">
        <div class="c-btt--txtbox">
          <span class="c-btt--arrow">
            ^
          </span>
          <span class="c-btt--txt">TOP</span>
        </div>
       
        <img src="/assets/img/backtotop/backtotop.png" alt="drone">
    </div>

</div>