<footer class="c-footer">
  <div class="c-footer--exbox ">
   
    <div class="c-footer--middle u-center ">
        <div class="c-footer--hastagbox u-tabsp">
          <h2 class="c-footer--hastag">Protect <br>
            <span>the</span>future
          </h2>
          <p class="c-footer--desc">防災技術を駆使し、地域の未来を守る。</p>
        </div>
    <picture>
      <source media="(max-width: 1024px)" srcset="/assets/img/footer/footerSP.png">
      <img src="/assets/img/footer/footer.png" alt="Wist">
      </picture>
      <p class="c-footer--comp"><span>総合建設コンサルタント</span><span class="u-pc">&nbsp;</span><br class="u-tabsp">株式会社アイエステー（IST）</p>
      <p class="c-footer--adress">〒860-0833　熊本市中央区平成3丁目16番13号</p>
      <p class="c-footer--tel u-pc"><span>tel. </span>096-285-5177</p>
        <p class="c-footer--tel u-tabsp"><span>tel. </span><a href="tel:0962855177">096-285-5177</a></p>
      <p class="c-footer--fax">fax.096-285-5188</p>
      <div class="c-footer--access">
        <a href="#" class="c-footer-accessl">交通アクセス <span>＞</span></a>
        <a href="#" class="c-footer-accessr">プライバシーポリシー <span>＞</span></a>
      </div>
      <p class="c-footer-copyright">Copyright © IST CO., LTD. All Rights Reserved.</p>
    </div>
  </div>
  <div class="c-footer--ldecor">
    <picture>
      <source media="(max-width: 1024px)" srcset="/assets/img/footer/leftdecorSP.png">
    <img src="/assets/img/footer/leftdecor.png" alt="leftdecor">
    </picture>
    <div class="c-footer--hastagbox u-pc">
      <h2 class="c-footer--hastag">Protect <br>
      <span>the</span>future</h2>
      <p class="c-footer--desc">防災技術を駆使し、地域の未来を守る。</p>
    </div>
  </div>
  <div class="c-footer--rdecor">
    <picture>
        <source media="(max-width: 1024px)" srcset="/assets/img/footer/rightdecorSP.png">
    <img src="/assets/img/footer/rightdecor.png" alt="rightdecor">
    </picture>
  </div>
</footer>   